<header class="header_template">
  <nav class="navbar navbar-default nav-title" style="background-color:#fff;">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag('logo.png') %>
    <% end %>
    <div class="brand">
      <h1 class="text-center">Chat App - Trung Manucian</h1>
    </div>
  </nav>
</header>
